html, body, header, footer, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, img, p, input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

b {
  font-weight: 500;
}

i {
  font-style: normal;
}

ul {
  list-style: none;
}

.small-font {
  font-size: 12px;
}

a > img {
  border: 0;
}

input {
  outline: none;
}

#top {
  width: 100%;
  height: 25px;
  background: #666666;
}
#top .top-con {
  width: 1000px;
  height: 26px;
  margin: 0 auto;
}
#top .top-con .top-left {
  float: left;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
}
#top .top-con .top-left span {
  margin: 0 6px;
}
#top .top-con .top-left a {
  color: #fff;
}
#top .top-con .top-right {
  float: right;
  color: #fff;
  font-size: 12px;
}
#top .top-con .top-right li {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
}
#top .top-con .top-right li a {
  float: right;
  color: #fff;
}
#top .top-con .top-right li a .home-icon {
  display: inline-block;
  width: 20px;
  height: 12px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: 0 0;
}
#top .top-con .top-right li a .myclo-icon {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 4px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: -380px -160px;
}
#top .top-con .top-right li a:hover {
  text-decoration: underline;
}
#top .top-con .top-right li a:hover .myclo-icon {
  background-position: -365px -158px;
}
#top .top-con .top-right .ewm-link {
  position: relative;
}
#top .top-con .top-right .ewm-link .ewm-box {
  display: none;
  width: 196px;
  height: 210px;
  background: url(../img/index_bg.png) no-repeat -606px -209px;
  position: absolute;
  top: 25px;
  left: -100px;
  z-index: 4;
}
#top .top-con .top-right .ewm-link .ewm-box img {
  width: 146px;
  height: 146px;
  margin: 30px 0px 0px 24px;
}
#top .top-con .top-right .ewm-link:hover .ewm-box {
  display: block;
}
#top .top-con .top-right .myKK, #top .top-con .top-right .collect {
  position: relative;
}
#top .top-con .top-right .myKK ul, #top .top-con .top-right .collect ul {
  display: none;
  position: absolute;
  top: 25px;
  background: #666;
  z-index: 3;
}
#top .top-con .top-right .myKK ul li, #top .top-con .top-right .collect ul li {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#top .top-con .top-right .myKK ul li a, #top .top-con .top-right .collect ul li a {
  float: none;
}
#top .top-con .top-right .myKK:hover ul, #top .top-con .top-right .collect:hover ul {
  display: block;
}
#top .top-con .top-right .app-icon {
  padding: 0 15px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: -270px 0;
}

#logo-out {
  width: 100%;
  height: 82px;
  border-bottom: 3px solid #000;
}
#logo-out .logo-con {
  width: 1000px;
  height: 82px;
  margin: 0 auto;
}
#logo-out .logo-con .logo-left {
  float: left;
  height: 82px;
  width: 100px;
}
#logo-out .logo-con .logo-left a {
  float: left;
  height: 72px;
  padding-top: 10px;
}
#logo-out .logo-con .logo-right {
  float: right;
  width: 100px;
  height: 82px;
  line-height: 100px;
}

#footer-out {
  width: 100%;
  height: 80px;
  background: #000;
}
#footer-out .footer {
  width: 1200px;
  height: 80px;
  margin: 24px auto;
}
#footer-out .footer .footer-left {
  width: 520px;
  height: 80px;
  padding-left: 244px;
  float: left;
}
#footer-out .footer .footer-left li {
  float: left;
}
#footer-out .footer .footer-left li a {
  float: left;
  padding: 0 11px 0 20px;
}
#footer-out .footer .footer-left .news {
  padding-right: 20px;
}
#footer-out .footer .footer-left .line {
  width: 2px;
  height: 50px;
  margin: 13px 0 17px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: -620px 0;
}
#footer-out .footer .footer-left .wx {
  padding: 0 18px 0 14px;
}
#footer-out .footer .footer-left .khd {
  padding: 0 16px;
}
#footer-out .footer .footer-right {
  float: left;
  margin-top: -8px;
}

#footer-service {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#footer-service .service-left {
  width: 779px;
  height: 174px;
  margin: 15px 0 8px 0;
  float: left;
}
#footer-service .service-left .left-tit {
  font-size: 12px;
  font-weight: 600;
  float: left;
}
#footer-service .service-left .left-tit li {
  width: 124px;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
}
#footer-service .service-left .left-tit .line {
  width: 1px;
  height: 9px;
  margin-top: 11px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: -560px 0;
}
#footer-service .service-left .left-con ul li {
  width: 87px;
  padding-left: 38px;
  float: left;
}
#footer-service .service-left .left-con ul li a {
  display: block;
  font-size: 12px;
  color: #000;
  font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
  line-height: 24px;
}
#footer-service .service-left .left-con ul .zf {
  width: 100px;
}
#footer-service .service-left .left-con ul .tk {
  padding-left: 25px;
}
#footer-service .service-right {
  width: 420px;
  height: 117px;
  border-left: 1px solid #ccc;
  margin-top: 44px;
  float: left;
}
#footer-service .service-right .bg-pic {
  width: 330px;
  height: 47px;
  margin-left: 43px;
  background: url(../img/index_bg.png) no-repeat;
  background-position: 0 -59px;
}
#footer-service .service-right ul {
  font-size: 12px;
  float: left;
}
#footer-service .service-right ul li {
  width: 100px;
  padding-top: 20px;
  float: left;
  padding-left: 35px;
}

#footer-copyright {
  width: 1200px;
  height: 30px;
  margin: 15px auto;
}
#footer-copyright p {
  font-size: 12px;
  color: #aeaeb0;
  text-align: center;
  font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
}

#footer-icon {
  width: 1200px;
  height: 93px;
  margin: 0 auto;
  text-align: center;
}

#top .top-con {
  width: 1200px;
}

#headbg {
  width: 100%;
  height: 95px;
}
#headbg .header {
  width: 1200px;
  height: 95px;
  margin: 0 auto;
  overflow: hidden;
}
#headbg .header .logo {
  width: 345px;
  height: 84px;
  padding-top: 11px;
  float: left;
}
#headbg .header .logo a {
  float: left;
  width: 140px;
  height: 72px;
}
#headbg .header .logo a img {
  width: 100%;
  height: 100%;
}
#headbg .header .search {
  width: 468px;
  height: 40px;
  float: left;
  margin: 38px 0 0 0;
}
#headbg .header .search form .secbox {
  float: left;
  width: 466px;
  height: 38px;
  padding: 1px;
  border: 1px solid #a48e5c;
}
#headbg .header .search form .secbox #sec-ipt {
  width: 400px;
  height: 38px;
  border: 0;
  padding: 0 3px;
  float: left;
}
#headbg .header .search form .secbox #sec-btn {
  width: 45px;
  height: 36px;
  float: right;
  margin: 1px 1px 1px 0;
  background: url(../img/index_bg.png) no-repeat -438px 0;
  border: 0;
  cursor: pointer;
}
#headbg .header .shopcar {
  width: 200px;
  height: 37px;
  margin: 42px 0 0 0;
  float: right;
}
#headbg .header .shopcar .shopcar-con {
  width: 180px;
  padding-left: 20px;
  height: 37px;
  background: url(../img/index_bg.png) no-repeat -22px 0;
}
#headbg .header .shopcar .shopcar-con .shopcar-icon {
  float: left;
  width: 27px;
  height: 24px;
  margin: 5px 6px 0  0;
  background: url(../img/index_bg.png) no-repeat -127px -165px;
}
#headbg .header .shopcar .shopcar-con a {
  color: #141414;
  font-size: 14px;
  line-height: 36px;
  float: left;
}
#headbg .header .shopcar .shopcar-con a span {
  color: #c8ae53;
}
#headbg .header .shopcar .shopcar-con .shopcar-more {
  float: left;
  margin: 15px 0 0 20px;
  width: 5px;
  height: 8px;
  background: url(../img/index_bg.png) no-repeat -230px 0;
}
