#topbg {
  border-bottom: 1px solid #ccc;
}
#topbg .top {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
#topbg .top .collect {
  display: block;
  float: left;
  width: 90px;
  height: 30px;
  line-height: 30px;
  color: #000;
}
#topbg .top .collect span {
  display: block;
  float: left;
  width: 20px;
  height: 30px;
  background: url(../img/bg.png) no-repeat;
  background-position: -120px 10px;
}
#topbg .top .right {
  float: right;
  height: 30px;
}
#topbg .top .right li {
  float: left;
  height: 30px;
  line-height: 30px;
}
#topbg .top .right li a {
  padding: 0 18px;
  color: grey;
}
#topbg .top .right li:nth-of-type(2) a {
  padding: 0 0 0 18px;
}
#topbg .top .right li:nth-of-type(3) a {
  padding: 0;
}
#topbg .top .right .phone a, #topbg .top .right .cart a {
  padding: 0 18px 0 4px;
}
#topbg .top .right .phone a span, #topbg .top .right .cart a span {
  display: block;
  float: left;
  width: 20px;
  height: 30px;
  background: url(../img/bg.png) no-repeat;
  background-position: -134px 8px;
}
#topbg .top .right .phone {
  position: relative;
}
#topbg .top .right .phone a:hover {
  color: goldenrod;
}
#topbg .top .right .phone a:hover span {
  background-position: -255px -24px;
}
#topbg .top .right .phone a:hover + div {
  display: block;
}
#topbg .top .right .phone .top-ewm {
  width: 185px;
  height: 150px;
  position: absolute;
  top: 26px;
  left: -50px;
  background: #fff url(../img/bg.png) no-repeat;
  background-position: -3px -642px;
  z-index: 2;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
  display: none;
}
#topbg .top .right .cart a span {
  background-position: -166px 8px;
}
