@import "commons";
@import "slider";
@import "foot";

.right-barbox{
    width:163px;
    position: fixed;
    z-index: 3;
    right: -130px;
//  right:0;
    top: 0;
    background:#eee;
    .right-bar{
        $barcolor: #2B2B2B;
        $hovercolor: #C8AE53;
        width:33px;
        height:100%;
        background:$barcolor;
        float: left;
        position: relative;
        a{
            display: block;
            width: 33px;
            height: 33px;
            text-align: center;
            position:absolute;
        }
        a:hover{
            background-color: $hovercolor;
        }
        .login-icon{
            background:url(../img/q_zhanghao.png) no-repeat;
            background-position: 5px 5px;
            bottom: 240px;
        }
        
        .kefu{
            background:url(../img/q_kefu.png) no-repeat;
            background-position: 5px 5px;
            bottom: 200px;
            span{
                position: absolute;
                padding: 5px;
                left:-150px;
                display: none;
                color: #000;
                top: 0;
                background: $hovercolor;
            }
        }
        .gwc{
            height: 80px;
            background:url(../img/q_gouwuche.png) no-repeat;
            background-position: 4px 0;
            bottom: 100px;
            span{
                width:16px;
                float: left;
                margin:24px 0 0 8px;
                font-size: 12px;
                color: #fff;
            }
        }
        .ewmicon{
            bottom: 70px;
            font-size: 30px;
            color: $hovercolor;
            .ewm{
                position: absolute;
//              left: 35px;
                left: -156px;
                top: -78px;
                width: 160px;
                height: 180px;
                background: url(../img/bg.png) no-repeat;
                background-position: -240px -644px;
                text-align: center;
                padding-top:10px ;
                img{
                    width: 95%;
                }
            }
        }
        .ewmicon:hover,.scrollup:hover{
            color: $barcolor;
        }
        .scrollup{
            font-size: 26px;
            bottom: 30px;
            color: $maincolor;
        }
    }
    
    .ewm-up{
        position: absolute;
        left:-40px;
        bottom: 300px;
        display: none;
        .s-ewm{
            width: 40px;
            height: 40px;
            background: #ccc url(../img/ewmicon.png) no-repeat center;
            position: relative;
            .bigewm{
                position: absolute;
                left: -156px;
                top: -78px;
                width: 160px;
                height: 180px;
                background: url(../img/bg.png) no-repeat;
                background-position: -240px -644px;
                text-align: center;
                display: none;
                .ewm-pic{
                    width: 86%;
                    margin:6px 0 0 -6px;
                }
            }
        }
        .s-ewm:hover{
            background-color: $maincolor;
            .bigewm{
                display: block;
            }
        }
        .scroll{
            width: 40px;
            height: 40px;
            background: url(../img/bg.png) no-repeat;
            background-position: 0 -585px;
        }
    }
}
.topbg{
     border-bottom: 1px solid #ccc;
    .top{
        width:1200px;
        height: 30px;
        margin:0 auto;
        .collect{
            display: block;
            float: left;
            width:90px;
            height:30px;
            line-height:30px;
            color:#000;
            span{
                display: block;
                float: left;
                width: 20px;
                height: 30px;
                background: url(../img/bg.png) no-repeat;
                background-position:-120px 10px;  
            }
        }
        .right{
            float: right;
            height:30px;
            li{
                float: left;
                height:30px;
                line-height:30px;
                a{
                    padding:0 18px;
                    color: grey;
                }
            }
            li:nth-of-type(2) a{
                padding: 0 0 0 18px;
            }
            li:nth-of-type(3) a{
                padding:0;
            }
            .phone a,.cart a
            {
                padding: 0 18px 0 4px;
                span{
                    display: block;
                    float: left;
                    width:20px;
                    height:30px;
                    background: url(../img/bg.png) no-repeat;
                    background-position: -134px 8px;
                }
                
            }
            
            .phone{
                position: relative;
                a:hover{
                    color:goldenrod;
                    span{
                        background-position: -255px -24px;
                    }
                } 
                a:hover+div{
                    display: block;
                }
                .top-ewm{
                    width:185px;
                    height:150px;
                    position: absolute;
                    top: 26px;
                    left: -50px;
                    background:#fff url(../img/bg.png) no-repeat;                    
                    background-position:-3px -642px;
                    z-index: 2;
                    text-align: center;
                    padding-top:30px;
                    cursor: pointer;
                    display: none;
                }
                
            }
            
            .cart a
            {
                span{
                    background-position: -166px 8px;
                }
                
            }
            
        }
    }
}

.searchbg{
    width: 100%;
    height: 112px;
    font-size: 14px;
    overflow:hidden;
    .search{
        width: 1200px;
        height: 112px;
        margin: 0 auto;
        .logo{
            width: 310px;
            height:112px;
            float: left;
            a{
                img{
                    border: 0;
                } 
            }
        }
        .secbox{
            width: 700px;
            height:112px;
            float: left;
            .sec{
               width:627px;
               height:34px; 
               border:3px solid $maincolor;
               margin-top: 28px;
               input{
                   height:34px;
                   width:546px;
                   padding: 0;
                   border: 0;
                   text-indent: 10px;
                   color: #555;
                   outline: none;
               }
               a{
                   display: inline-block;
                   width:81px;
                   height:34px;
                   line-height: 34px;
                   color:#fff;
                   font-weight: 600;
                   background:$maincolor;
                   text-align: center;
               }
            }
            ul{
                height:32px;
                width:630px;
                li{
                    float: left;
                    color: #aaa;
                    line-height: 32px;
                    a{
                        float: left;
                        margin: 0 12px;
                        color: #000;
                        line-height: 32px;
                    }
                    a:hover{
                        color: darkred;
                    }
                }
            }
        }
        .ewmbox{
            width: 188px;
            height:112px;
            margin-top:10px;
            float: right;
            img{
                width: 92px;
            }
            .ewmtext{
                width: 90px;
                height: 72px;
                padding: 20px 0 0 5px;
                float: right;
                p{
                    font-size: 12px;
                    line-height: 20px;
                    color: #aaa;
                }
                a{
                    display: inline-block;
                    width: 20px;
                    text-align: center;
                    border: 1px solid #aaa;
                    background: #eee;
                }
            }
            
        }
    }
}

.navbg{
    height:40px;
    .nav{
        height: 40px;
        width: 1200px;
        margin:0 auto;
        >ul{
            height: 40px;
            font-size: 14px;
            >li{
                float: left;
                height: 40px;
                line-height: 40px;
                color: #ccc;
                >a{
                    float: left;
                    padding: 0 30px;
                    color: #000;
                    font-weight: 600;
                }
                
            }
            .last{
                position: relative;
                img{
                    position: absolute;
                    top:-8px;
                    left:50px;
                }
            }
            .allgoods{
                width: 222px;
                background: $maincolor;
                color: #fff;
                font-weight:600;
                text-align: center;
                position: relative;
                >ul{
                    height: 480px;
                    width: 222px;
                    background: #464645;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    z-index: 2;
                    >li{
                        width:222px;
                        height: 40px;
                        text-align: left;
                        font-weight: 500;
                        >span{
                            display: block;
                            float: left;
                            padding: 0 10px;
                        }
                        >a{
                            color: #fff;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        .icon-zhankai{
                            float: right;
                            font-size: 18px;
                            right: 0;
                        }
                        .icon-zhankai1{
                            font-size:8px;
                            right: 0;
                            float: right;
                            display: none;
                        }
                        .moregoods{
                            display: none;
                            width:470px;
                            height:450px;
                            padding:30px 30px 0 30px;
                            position: absolute;
                            left: 222px;
                            top:0;
                            background: rgba(255,255,255,.8);
                            overflow:auto;
                            
                            .title{
                                text-align: center;
                                overflow: hidden;
                                li{
                                    
                                    float: left;
                                    padding-left: 10px;
                                    height: 26px;
                                    background: #333;
                                    margin: 0 20px 0 0;
                                    line-height: 26px;
                                    color: #fff;
                                    span{
                                        background:#555555 ;
                                        float: right;
                                        width:20px;
                                        font-size: 8px;
                                      
                                    }
                                    &:hover{
                                        span{
                                            background: #AD9747;
                                            color:#fff ;
                                        }
                                        background: #C8AE53;
                                        color: #fff;
                                    }
                                }
                                color:grey;
                            }
                            .floor{
                                border-bottom:1px solid #ccc ;
                                
                                h5{
                                    color: $maincolor;
                                    text-align: left;
                                    font-size: 14px;
                                }
                                .links{
                                    overflow: hidden;
                                    color: #000;
                                    font-size: 12px;
                                    text-align: left;
                                    a:nth-of-type(1){
                                        margin-left:0;
                                    }
                                    a{
                                        margin: 0 5px;
                                        font-weight: 500;
                                        color: #000;
                                    }
                                    a:hover{
                                        text-decoration: underline;
                                        color: $maincolor;
                                    }
                                }
                            }
                        }
                    }
                    .active{
                        background: $maincolor;
                    }
                }
            }
        }
    }
}
.bannerbg{
    width: 100%;
    height: 480px;
    position: relative;
    .banner{
        width:1200px;
        height: 480px;
        position: absolute;
        left:50%;
        margin-left:-600px;
        top: 0;
        >a{
            position: absolute;
            top: 0;
            right: 0;
            z-index:1;
        }
    }
}

.main{
    width:100%;
//  min-width: 1200px;
    padding-bottom: 40px;
    background:#f1f1f1;
    overflow: hidden;
    //goods link img to be thin when hover
    //make it in js
    .imgthin{
        a:hover{
            opacity: 0.8;
        }
    }
    //goods link img to be up
    .imgup{
        a{
            display: block;
            width: 100%;
            transition:all 0.5s;
            position: relative;
            color: #000;
            img{
                display: block;
                width: 100%;
                height: 205px;
                margin: 0;
                border: 0;
            }
            .bg{
                height:5px;
                background: darkgrey;
            }
            
            h4{
                position: absolute;
                top: 16px;
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
            p{
                position: absolute;
                top: 40px;
                width: 100%;
                font-size:12px ;
                text-align: center;
                color: #aaa;
            }
            
        }
        a:hover{
            margin-top: -5px;
            .bg{
                background: mediumpurple;
            }
        }
        
    }
    //goods link img’size change
    .imgbreath{
        overflow: hidden;
        background:#D9DDFF;
        a{
            img{
                transition:all 0.6s;
            }
        }
        a:hover{
            img{
                transform: scale(0.96);
            }
        }
    }
    
    
    //goods link img 
    .trend{
        background: #fff;
        width: 1200px;
        height: 532px;
        margin: 30px auto;
        
        >ul{
            width: 1200px;
            overflow: hidden;
            >li{
                width: 400px;
                height: 60px;
                padding-top: 20px;
                float: left;
                cursor: pointer;
                text-align: center;
                .link{
                    display: inline-block;
                    
                    b{
                        float: left;
                        width: 41px;
                        height: 41px;
                        background:url(../img/bg.png) no-repeat;
                    }
                    
                    .new-pic{
                        
                        background-position: 0 -32px;
                    }
                    .hot-pic{
                        background-position: -50px -31px;
                    }
                    .hui-pic{
                        width:47px;
                        background-position: -98px -32px;
                    }
                    
                    .text{
                        float: left;
                        margin-left:15px;
                        h3{
                            font-size: 20px;
                            font-weight: 500;
                            text-align: left;
                        }
                        p{
                            font-size: 12px;
                            
                        }
                    }
                }
                
            }
            >li:nth-of-type(2){
                width: 398px;
                border:{
                    left:1px solid #ccc;
                    right:1px solid #ccc;
                }
            }

            .hover{
                background: $maincolor;
                
                .link{
                    .text{
                        color: #fff;
                    }
                    
                    .new-pic{
                        
                        background-position: 0 -82px;
                    }
                    .hot-pic{
                        background-position: -50px -82px;
                    }
                    .hui-pic{
                        width:47px;
                        background-position: -98px -82px;
                    }
                    
                }
            } 
            
            
        }
        
        .conbox{
            width: 1200px;
            height: 452px;
            .con{
                width: 1200px;
                height: 452px;
            }
            .con1{
                background: #F1F1F1;
                img{
                    border: 0;
                }
                >div{
                    float: left;
                }
                .con1-1{
                   width:290px; 
                   height:450px;
                   .top{
                       width: 290px;
                       height: 260px;
                       padding-top: 10px;
                   }
                   .bot{
                       width:290px;
                       height: 170px;
                       padding-top: 10px;
                   }
                }
                .con1-2{
                    width:400px;
                    height: 440px;
                    margin: 10px 10px 0 10px;
                    .top{
                        width: 400px;
                        height: 360px;
                        img{
                            width:100%;
                        }
                    }
                    .bot{
                        width: 400px;
                        height: 64px;
                        padding: 2px 0;
                        margin-top: 12px;
                        background: #fff;
                        .l{
                            float: left;
                            width:120px;
                            height: 60px;
                            padding:2px 15px;
                            a{
                                display: block;
                                width:120px;
                                height: 60px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .r{
                            width: 229px;
                            height: 64px;
                            padding-left: 20px;
                            float: right;
                            border-left: 1px dotted #ccc;
                            h4{
                                font-size: 18px;
                                font-weight: 500;
                                padding-top: 10px;
                            }
                            p{
                                color: #AAAAAA;
                                font-size:12px;
                            }
                        }
                    }
                }
                .con1-3{
                    width: 290px;
                    height: 450px;
                    
                }
                .con1-4{
                    width: 190px;
                    height: 440px;
                    padding:10px 0 0 10px;
                }
            }
            .con2{
                display: none;
                background: #F1F1F1;
                .con2-top{
                    overflow: hidden;
                    .top-con{
                        float: left;
                        width:294px;
                        height: 320px;
                        margin-left: 8px;
                    }
                    .first{
                        margin: 0;
                    }
                }
                
                .con2-bot{
                    width: 1200px;
                    height: 120px;
                    position: relative;
                    .btn{
                        width: 50px;
                        height: 110px;
                        position: absolute;
                        top: 5px;
                        background: url(../img/bg.png) no-repeat;
                        cursor: pointer;
                        z-index: 2;
                    }
                    .btn-l{
                        left: 0;
                        background-position: 0 -136px;
                    }
                    .btn-r{
                        right: 0;
                        background-position:-120px -136px ;
                    }
                    .logos-box{
                        width: 1080px;
                        height: 120px;
                        overflow: hidden;
                        margin: 0 auto;
                        ul{
                            li{
                                float: left;
                                width: 100px;
                                margin-right: 8px;
                                overflow: hidden;
                                a{
                                    float: left;
                                    width: 100px;
                                    margin:5px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
            .con3{
                background: #F1F1F1;
                display: none;
                .con3-1,
                .con3-2,
                .con3-3{
                    width:326px;
                    height:440px;
                    margin-right: 10px;
                    float: left;
                    margin-top: 10px;
                    .top{
                        margin-bottom: 6px;
                    }
                }
                
                .con3-4{
                    width: 190px;
                    height: 450px;
                    margin-top: 10px;
                    float: right;
                }
            }
        }
    }
    .banner{
        width: 1200px;
        height: 90px;
        margin: 30px auto;
    }
    //floor
    .floor{
        width:1200px;
        height: 430px;
        margin: 30px auto;
        position: relative;
        
        .floor-icon{
            width: 37px;
            height: 38px;
            position:absolute;
            top:-4px;
            left: 0;
            background:url(../img/bg.png) no-repeat;
            float: left;
        }
        
        .floor-left{
            width: 200px;
            height: 430px;
            float: left;
            background:#fff;
            .floor-tit{
                width: 200px;
                height: 92px;
                background:url(../img/bg.png) no-repeat;
                background-position:0 -462px;
                overflow: hidden;
                h2{
                    font-size: 24px;   
                    color: #fff;
                    text-align: center;
                    font-weight:500;
                    margin-top: 20px;
                }
                p{
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
            .floor-more{
                width: 180px;
                height: 133px;
                padding: 10px 20px 0 0;
                a{
                    float: left;
                    width:68px;
                    height: 32px;
                    padding-left: 2px;
                    margin-left: 20px;
                    border-bottom: 1px dotted #ccc;
                    font-size: 12px;
                    line-height: 32px;
                    color: #000;
                }
            }
            .floor-left-pic{
                width: 200px;
                height: 196px;
                margin-top:3px;
                position: relative;
                span{
                    display: block;
                    width: 14px;
                    height: 18px;
                    position: absolute;
                    top:40%;
                    margin-top:-9px;
                    background:url(../img/bg.png) no-repeat;
                    cursor: pointer;
                }
                .btn-left{
                    left:0;
                    background-position: 0 -367px;
                }
                .btn-right{
                    right: 0;
                    background-position: -36px -367px;
                }
                
                ul{
                    width: 96px;
                    height: 171px;
                    margin: 10px auto;
                    position: relative;
                    li{
                        width:96px;
                        height:171px;
                        position: absolute;
                        display: none;
                        a{
                            display: block;
                            width: 96px;
                            height:57px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .block{
                        display: list-item;
                    }
                    
                    
                }
            }
        }
        .pics{
            float: left;
            margin-left: 10px;
        }
        .one-pic{
            width: 390px;
            height: 430px;
            a{
                display: block;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        .two-pic{
            width: 190px;
            height: 430px;
            .top{
                width:190px;
                height:210px;
                position: relative;
                .new{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 36px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                }
            }
            .bot{
                width: 190px;
                height:210px;
                padding-top: 10px;
                position:absolute;
                bottom: 0;
                .hot{
                    position: absolute;
                    right:0;
                    top:10px;
                    width: 36px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    background:#BE0A2C;
                    color: #fff;
                    font-size: 12px;
                }
                a:hover + span{
                    transition: all 0.5s;
                    margin-top:-5px;
                }
            }
        }
        
        .three-pic{
            width: 390px;
            height: 430px;
            .top{
                width: 390px;
                height:210px;
            }
            .bot{
                width: 390px;
                height:210px;
                padding-top: 10px;
                .bot-left{
                    width: 190px;
                    height: 210px;
                    float: left;
                }
                .bot-right{
                    width: 190px;
                    height: 210px;
                    float: left;
                    margin-left: 10px;
                }
            }
        }
        
    }
    .floor1{
        $floor-color: #BA2A7E;
        .floor-icon{
            background-position: -384px 0;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
        
        
    }
    
    .floor2{
        $floor-color: #FF648C;
        .floor-icon{
            background-position: -384px -47px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    .floor3{
        $floor-color: #155970;
        .floor-icon{
            background-position: -384px -96px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    .floor4{
        $floor-color: #D4595E;
        .floor-icon{
            background-position: -384px -146px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    .floor5{
        $floor-color:#3CB38D;
        .floor-icon{
            background-position: -384px -196px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    .floor6{
        $floor-color:#C0A40E;
        .floor-icon{
            background-position: -384px -245px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    .floor7{
        $floor-color:#006FC8;
        .floor-icon{
            background-position: -384px -295px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    .floor8{
        $floor-color:#E93052;
        .floor-icon{
            background-position: -384px -345px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    .floor10{
        $floor-color:#674941;
        .floor-icon{
            background-position: -384px -450px;
        }
        .floor-left{
            .floor-tit{
                background-color:$floor-color;
            }
            .floor-more{
                a:hover{
                    color: $floor-color;
                }
            }
        }
        //change the color of bg (defferent floor)
        .imgup{
            a:hover{
                .bg{
                    background: $floor-color;
                }
            }
        }
        
        .two-pic{
            .top{
                .new{
                   background: $floor-color;
                }
            }
        }
    }
    
    
}

