@import "commons";
.searchbg{
    width: 100%;
    height: 112px;
    font-size: 14px;
    overflow:hidden;
    .search{
        width: 1200px;
        height: 112px;
        margin: 0 auto;
        .logo{
            width: 310px;
            height:112px;
            float: left;
            a{
                img{
                    border: 0;
                } 
            }
        }
        .secbox{
            width: 700px;
            height:112px;
            float: left;
            .sec{
               width:627px;
               height:34px; 
               border:3px solid $maincolor;
               margin-top: 28px;
               input{
                   height:34px;
                   width:546px;
                   padding: 0;
                   border: 0;
                   text-indent: 10px;
                   color: #555;
                   outline: none;
               }
               a{
                   display: inline-block;
                   width:81px;
                   height:34px;
                   line-height: 34px;
                   color:#fff;
                   font-weight: 600;
                   background:$maincolor;
                   text-align: center;
               }
            }
            ul{
                height:32px;
                width:630px;
                li{
                    float: left;
                    color: #aaa;
                    line-height: 32px;
                    a{
                        float: left;
                        margin: 0 12px;
                        color: #000;
                        line-height: 32px;
                    }
                    a:hover{
                        color: darkred;
                    }
                }
            }
        }
        .ewmbox{
            width: 188px;
            height:112px;
            margin-top:10px;
            float: right;
            img{
                width: 92px;
            }
            .ewmtext{
                width: 90px;
                height: 72px;
                padding: 20px 0 0 5px;
                float: right;
                p{
                    font-size: 12px;
                    line-height: 20px;
                    color: #aaa;
                }
                a{
                    display: inline-block;
                    width: 20px;
                    text-align: center;
                    border: 1px solid #aaa;
                    background: #eee;
                }
            }
            
        }
    }
}
