@import "commons";
@import "login-head";
@import "login-foot";

#regist-out{
    width: 100%;
    height: 754px;
    background: url(../img/regsiter_bj.png) repeat-x;
    .regist{
        width: 1000px;
        height: 504px;
        margin: 0 auto;
        padding-top: 44px;
        .regist-left{
            width: 565px;
            height: 502px;
            border: 1px solid #e5e5e5;
            float: left;
            form{
                width: 527px;
                height: 329px;
                margin: 54px 19px 0;
                .tit{
                    width: 506px;
                    padding-bottom: 21px;
                    border-bottom: 1px solid #000;
                }
                p{
                    height: 32px;
                    position: relative;
                    span{
                        display: block;
                        float: left;
                        width: 59px;
                        padding-right: 40px;
                        text-align: right;
                        font-size: 14px;
                        line-height: 32px;
                    }
                    label{
                        float: left;
                        input{
                            float: left;
                            height: 30px;
                            border:1px solid #D0D0D0;
                            font-size: 14px;
                        }
                    }
                    .tishi{
                        float: left;
                        font-size: 12px;
                        line-height: 32px;
                        color: #F1756B;
                        position: absolute;
                        left:330px;
                    }
                    .info{
                        color: #555;
                        display: none;
                    }
                    .ok{
                        width: 17px;
                        height: 17px;
                        margin-top: 6px;
                        background: url(../img/register_bg.png) no-repeat -179px 0;
                        display: none;
                    }
                    
                }
                .zhanghao{
                    height: 32px;
                    margin-top: 35px;
                    label{
                        input{
                            width:219px;   
                            text-indent: 5px;
                            color: #555555;
                        }
                    }
                    
                    .jiance{
                        
                        display: none;
                    }
                    .warn-id-empty{
                        display: none;
                    }
                    .warn-id-length{
                        display: none;
                        line-height: 16px;
                        
                    }
                    .warn-id-type{
                        display: none;
                        line-height: 16px;
                    }
                    .warn-id-error{
                        display: none;
                        line-height: 16px;
                    }
                    .warn-id-email{
                        display: none;
                    }
                }
                .mima{
                    height: 32px;
                    margin-top: 21px;
                    label{
                        input{
                            width:219px;   
                            text-indent: 5px;
                        }
                    }
                    .warn-psw-empty{
                        display: none;
                    }
                    .warn-psw-length{
                        display: none;
                    }
                    .warn-psw-type{
                        display: none;
                    }
                    .warn-psw-repeat{
                        line-height: 16px;
                        display: none;
                    }
                }
                .pswStrenthDiv{
                    width: 160px;
                    height: 12px;
                    background: url(../img/mima_01.png) no-repeat 0 0;
                    margin:8px 0 15px 100px;
                    
                }
                .psw-sure{
                    margin: 0 0 20px 0;
                    label{
                        input{
                            width:219px;   
                            text-indent: 5px;
                            background: #eee;
                            
                        }
                    }
                    .warn-psw-s-empty{
                        display: none;
                    }
                    .warn-psw-s-unequal{
                        display: none;
                    }
                }
                .check{
                    margin-top: 21px;
                    label{
                        input{
                            width: 78px;
                            text-indent: 5px;
                        }
                        
                    }
                    i{
                        width: 80px;
                        height: 32px;
                        float: left;
                        margin-left: 8px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    >a{
                        display: block;
                        float: left;   
                        width:50px;
                        margin-left: 10px;
                        font-size: 12px;
                        color: #444;
                        span{
                            color: red;
                            width: 50px;
                            height: 16px;
                            line-height:16px;
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            text-decoration: underline;
                        }
                        
                    }
                }
                
                .xieyi{
                    margin-top: 23px;
                    position: relative;
                    overflow:hidden;
                    span{
                        display: block;
                        float: left;
                        width: 59px;
                        height: 32px;
                    }
                    input{
                        position: absolute;
                        left:-99px;
                    }
                    label{
                        font-size: 14px;
                        padding-left:14px;
                        background: url(../img/zhuche_bj_010.png) no-repeat 0 4px;
                        
                    }
                    a{
                        text-decoration: underline;
                        color:#000;
                        font-size: 12px;
                        height: 20px;
                        line-height: 20px;
                        &:hover{
                            color:blue; 
                        }
                        float:left;
                    }
                    .checked{
                        background: url(../img/zhuche_bj_010.png) no-repeat 0 -24px;
                    }
                }
                
                .regist-btn{
                    margin-top: 30px;
                    span{
                        height: 32px;
                    }
                    input{
                        width: 132px;
                        height: 30px;
                        background: #fff;
                        border: 1px solid #C6C6C6;
                        color: #a48e5c;
                        cursor: pointer;
                        &:hover{
                            border: 1px solid #a48e5c;
                        }
                    }
                }
                
            }
        }
        .regist-right{
            width: 432px;
            height: 104px;
            float: left;
            .right-con{
                width: 311px;
                height: 37px;
                margin: 70px 50px 0 60px;
                span{
                    display: block;
                    float: left;
                    line-height: 32px;
                }
                a{
                    display: block;
                    float: right;
                    margin-right: 17px;
                    width: 134px;
                    height: 32px;
                    border: 1px solid #C6C6C6;
                    font-size: 14px;
                    text-align: center;
                    line-height: 32px;
                    color: #a48e5c;;
                    
                    &:hover{
                        border: 1px solid #a48e5c;
                    }
                }
            }
        }
    }
}
.maskbg{
    width: 100%;
    position: fixed;
    margin-top: -110px;
    z-index: 9;
    background:#666;
    opacity: 0.5;
    display: none;
}
.xieyi-box{
    width: 757px;
    height: 512px;
    border: 1px solid #ccc;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -360px;
    margin-top: -60px;
    background: #fff;
    z-index: 10;
    display: none;
    .xieyi-title{
        height: 38px;
        background: #343434;
        border:{
            bottom: 1px solid #464646;
            top: 1px solid #464646;
        }
        
        p{
            font-size: 16px;
            color: #fff;
            text-align: center;
            font-weight: 600;
            line-height: 38px;
            float: left;
            width: 700px;
        }
        span{
            float: right;
            margin:15px 20px 0 0;
            width: 13px;
            height: 13px;
            background:url(../img/register_bg.png) no-repeat 0 0;
            cursor: pointer;
        }
    }
    .xieyi-text{
        height: 342px;
        margin: 21px 28px 7px;
        overflow-y: scroll;
        p{
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
        }
    }
    .xieyi-foot{
        height: 74px;
        padding-top: 28px;
        background: #f1f4f4;
        a{
            width: 192px;
            height: 39px;
            display: block;
            margin: 20px auto;
            background: #A48E5C;
            font-size: 14px;
            color: #fff;
            text-align: center;                
            line-height: 38px;
            font-weight: 600;
        }
    }
}
