.slider{
	position: relative;
	overflow: hidden;
	height:100%;
}
.slider .img-list{
	height:100%;
	position:absolute;
}

.slider .img-list li{
	height: 100%;
	float: left;
	img{
	    width:100%;
	}
}

.slider .btn-list{
	overflow: hidden;
	position: absolute;
	left:50%;
	bottom:10px;
}
.slider .btn-list li{
	width:20px;
	height:20px;
	font-size:12px;
	color: #fff;
	line-height:20px;
	text-align:center;
	background:gray;
	float: left;
	margin:3px;
	border-radius:50%;
}

.slider .btn-list .active{
	background: goldenrod;
}